<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


	<aop:aspectj-autoproxy />

	<!-- bean definitions here -->
	<!-- Configure Employee Bean and initialize it -->
	<bean name="employee" class="com.yash.spring.aop.ems.model.Employee" >
	<!--  <property name="name" value="Employee name: usha"/>-->
    </bean>
	
	
	<!-- Configure EmployeeService bean -->	
	<bean name="empService" class="com.yash.spring.aop.ems.service.EmployeeService">
 	<property name="employee" ref="employee"></property>
	</bean>
	
    <bean name="loggingAspect" class="com.yash.spring.aop.ems.aspect.LoggingAspect"/>




</beans>